@import url("reset.css");


body{
    width: 100vw;
    height: 100vh;
    margin : 0;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
    'header header'
    'side main '
    'footer footer';
}

header {
    grid-area: header;
    background-color: blueviolet;
}

main {
    grid-area:  main;
    background-color: lightseagreen;
}

aside {
    grid-area: side;
    background-color: lightgoldenrodyellow;
}

footer {
    grid-area: footer;
    background-color: azure;
}

.statistics {
    margin-top: 20px;
}

input[type="text"] {
    width: 200px; /* 기본 입력 필드 너비 */
}
input[type="text"].wide {
    width: 610px; /* 주소 입력 필드 너비 */
}
input[type="text"].wide2 {
    width: 610px;
    height: 100px;
}

input[type="text"].wide3 { /*증상입력칸 */ 
    width: 610px;
    height: 60px;
}


.hidden {
    display: none;
  
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}


.box {
    float: left;
}


.default-button {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
}

.selected-button {
    background-color: green;
}

table td{
    border: 1px solid black;

}
table tr{
    border: 1px solid black;

}


/* 숫자 입력시 버튼 없애기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 버튼 세로 배치 */
.horizonal-buttons {
    display: flex;
    flex-direction: row;
    width: 110px;
    
}

#displayArea {
    width: 100%;
    margin-top: 20px;
}

.contentBox {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contentBox span {
    display: block;
}


.vertical-buttons button {
    margin-bottom: 5px;
}

.selected0 {
    background-color: rgb(251, 157, 15); /* 선택된 버튼의 색상 */
}
.selected1 {
    background-color: red; /* 선택된 버튼의 색상 */
}
.selected2 {
    background-color: blue; /* 선택된 버튼의 색상 */
}
.selected3 {
    background-color: rgb(153, 160, 255); /* 선택된 버튼의 색상 */
}
.selected4 {
    background-color: rgb(231, 95, 247); /* 선택된 버튼의 색상 */
}
.selected5 {
    background-color: rgb(175, 250, 100); /* 선택된 버튼의 색상 */
}

.displayArea{
    width: 100px;
}
